body{
  font-family: Tahoma;
}

.app-wrapper{
  width: 80%;
  margin: auto;
  }

.tab{
  float:left;
  background-color: #d9dada;
  margin: 20px;
  border: 1px solid #bababa;
}

.userlist{
  background-color: #bcedfc;
  padding: 5px;

  }

  .user-username{
    display:block;
  }

.assetlist{
  background-color: #fbc3f7;
  padding: 5px;
}

.asset-description{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  display: block;
}

.asset-ownername{
  display: block;
}

.riskassesmentlist{
  background-color: #fffe81;
  padding: 5px;
}

.riskasessment-description{
  text-decoration: underline;
}
